/* Global */ 
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 3rem 4rem 0;
    background-color: #eeeeee;
    /* color: #999; */
  }
  
  
  * {
    box-sizing: border-box;
  }
  
  .neumorphic {
    box-shadow: 12px 12px 24px 0 rgba(167, 167, 167, 0.2),
      -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
    border-radius: 15px;
  }
  
  /* .neumorphic--pressed {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
      inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  } */
  
  .button {
    justify-content: space-around;
    align-items: center;
  }
  
  .button span {
    display: block;
    padding-bottom: 1.5rem;
    position: relative;
    font-size: 3rem;
  }
  
  .button span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 0.3rem;
    border-radius: 1rem;
    width: 50%;
    margin: 0 auto;
    background-color: currentColor;
  }
  
  .button.pressed {
    color: #5ab9ea;
  }
/* Font-sizes */

h1 {
    font-size:  36px;
    font-weight: 400;
}

h2 {
    font-size:  24px;
    font-weight: 700;
}


h3 {
    font-size:  20px;
    font-weight: 500;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

p, li, ol, ul {
    font-size: 16px;
    font-weight: 300; 
    line-height: 135%;
}

.icons {
    font-size: 24px;
    line-height: 40px;
}

h1,h2,h3,h4,p,span {
    margin: 15px 0 7.5px 0;
}

/* Fonts */

h1, h2 {
    font-family: 'Staatliches';
    letter-spacing: 2px;
}


h3, h4, h5 {
    text-transform: uppercase;
    font-family: 'Roboto Mono';
}

p, ol, ul {
    font-family: 'Roboto'; 
}


a {
    text-decoration: none;
    color: inherit;
}

/* Grid */


.row {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.item {
    border-right: 2px solid white;
}
@media only screen and (max-width: 800px) {
    .row {
        grid-template-columns: 1fr;
    }
    .portrait {
        display: none;
    }
    .item {
        border-right: none;
        border-bottom: 2px solid white;
    }
  }



.column {
    grid-template-columns: 1fr;
    grid-gap: 1rem;

}

/* Box */

.box {
    padding: 15px 15px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #eeeeee;;
}

/* 
.box-shadow {
    padding-right: 3px;
    margin-right: -3px;
    padding-bottom: 10px;
    margin-bottom: -10px;
    border-radius: 10px;
    background-image: radial-gradient(#aaa 30%, transparent 30%),
        radial-gradient(#aaa 30%, transparent 30%);
    background-position: 0 0, 3px 3px;
    background-size: 6px 6px;
} */

.box-padding {
    margin-bottom: 60px;
}

/* Padding */
.m-y {
    margin: 60px 0;
}

/* Markdown */
section > h1, section > h2, section > h3, section > h4 {
    margin: 40px 0 20px 0;
}

section > p, section > ol, section > ul {
    margin: 20px 0 20px 0; 
}

section > ol, section > ul {
    margin-left: 30px;
}

section {
    margin: 0 15px;
}

/* About */

.portrait {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-image: url(https://i.imgur.com/gf2ZFUp.jpg);
}